// COLORS
$color-pr-1: #18aaf0;
$color-pr-2: #18c1f0;
$color-pr-3: #38e4ff;
$color-pr-4: #40c4ff;

$color-se-1: #973fff;
$color-se-2: #b474ff;
$color-se-3: #cb9fff;

// Font-size
$fs-sm: 14px;
$fs-md: 18px;
$fs-lg: 25px;
$fs-xl: 32px;

// Font-weight
$fw-thin: 200;
$fw-normal: 300;
$fw-bold-1: 500;
$fw-bold-2: 700;

// Font-family
$font-title: "Roboto", sans-serif;
$font-text: "Montserrat", sans-serif;
