.intro {
  @include flex(row, center, center);
  height: 730px;
  width: 100%;
  position: relative;
  // margin-top: 90px;
  .overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // opacity: 0.7;
    // z-index: -1;
    background: rgba(77, 77, 77, 0.575);
  }
  .imgBg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    z-index: -1;
  }

  .content {
    // margin-top: 30px;
    // margin-top: -30px;
    z-index: 900;
    max-width: 1200px;
    // width: 70%;
    @include flex(column, center, center);
    .head-title {
      @include text(white, 50px, 300);
      letter-spacing: 3px;
      margin-bottom: 15px;
    }
    .subtitle {
      text-align: center;
      @include text(white, $fs-md, $fw-normal);
    }
    .input-group {
      margin-top: 10px;
      input {
        height: 50px;
        &:focus {
          border: none;
          box-shadow: none;
        }
        &::placeholder {
          font-size: $fs-md;
        }
      }
      .btn-search {
        margin-left: 10px;
        text-transform: uppercase;
        @include button(white, $color-se-2, white, $color-se-1);
      }
    }
    .arrow-down {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      bottom: 80px;
      span {
        display: block;
        width: 50px;
        height: 50px;
        border-bottom: 2px solid #06a8ff;
        border-right: 2px solid #06a8ff;
        transform: rotate(45deg);
        margin: -30px;
        animation: animate 2s infinite;
      }
    }
    .arrow-down span:nth-child(2) {
      animation-delay: -0.2s;
    }
    .arrow-down span:nth-child(3) {
      animation-delay: -0.4s;
    }
    @keyframes animate {
      0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
      }
    }
  }
}
