.step-register {
  position: relative;
  padding: 40px 100px;
  .wallpaper {
    @include absoluteForBgr();
    text-align: center;
    img {
      width: auto;
    }
  }
  .title {
    font-family: "Roboto", sans-serif;
    // text-align: center;
    // margin: 40px 0;
    margin: 20px auto;
    text-align: center;
    text-transform: capitalize;
    @include text(null, $fs-xl, 100);
  }
  .steps {
    margin-top: 60px;
    .item {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after {
        height: 1px;
        content: "";
        display: block;
        background-color: #0000006e;
        width: 50%;
        position: absolute;
        right: -25%;
        opacity: 0.7;
      }
      &:last-child::after {
        display: none;
      }
      .step-index-1 {
        @include circleBlockText(70px, $color-pr-1, white);
      }
      .step-index-2 {
        @include circleBlockText(70px, white, $color-se-1);
      }
      .step-index-3 {
        @include circleBlockText(70px, white, $color-pr-2);
      }
      .step-index-4 {
        @include circleBlockText(70px, $color-se-1, white);
      }

      .step-todo {
        margin-top: 20px;
        // color: $color-se-;
        font-weight: 500;
        font-size: $fs-md;
        text-align: center;
      }
    }
  }
}
