::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-pr-4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-pr-1;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100% !important;
}
.container {
  max-width: 1400px !important;
}
@media screen and (max-width: 940px) {
  .container {
    padding: 0 15px !important;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Roboto", sans-serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
button:visited,
input:visited {
  outline: none !important;
  box-shadow: none !important;
}
